div.question {
  background-color: #EEEEEE;
  border-radius: 6px 6px 6px 6px;
  margin-top: 30px;
  padding: 60px;
  height: 300px;
  p:nth-child(2) { margin: 10px 0px; }
  p:nth-child(3) { font-size: 12px; }
}

ul#candidates {
  width: 900px;
  list-style: none;
  margin: 50px auto;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  label.score {
    position: relative;
    top: -227px;
    font-size: 60px;
    font-weight: bold;
    display:none;
  }
  li { padding-top: 205px; width: 160px; height: 80px; float : left; }
  li + li { margin-left: 25px; }
  li#haddad { background: url(/assets/haddad.jpg) no-repeat;}
  li#serra { background: url(/assets/serra.jpg) no-repeat;}
  li#russomano { background: url(/assets/russomano.jpg)  no-repeat;}
  li#chalita { background: url(/assets/chalita.jpg) no-repeat; }
  li#soninha { background: url(/assets/soninha.jpg) no-repeat; }
}
hr { clear:both; }

div#candidate { 
  display:none;
  padding-top: 205px; 
  width: 160px; 
  height: 0px; 
  margin: 20px auto; 
  font-weight: bold; 
  font-size: 18px;
  text-align: center;
}

div.haddad { background: url(/assets/haddad.jpg) no-repeat;}
div.serra { background: url(/assets/serra.jpg) no-repeat;}
div.russomano { background: url(/assets/russomano.jpg)  no-repeat;}
div.chalita { background: url(/assets/chalita.jpg) no-repeat; }
div.soninha { background: url(/assets/soninha.jpg) no-repeat; }
