div.question {
  background-color: #EEEEEE;
  border-radius: 6px 6px 6px 6px;
  margin-top: 30px;
  padding: 20px 50px;
  height: 350px;
  div.desc { height: 270px; }
  p:nth-child(2) { 
    color: inherit;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
  }
  p:nth-child(3) { font-size: 12px; }
}

img#logo { float: right; width: 200px; height: 200px;}

footer {
  text-align: center;
}

ul#candidates, ul#leaders {
  width: 900px;
  list-style: none;
  margin: 50px auto;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  label.score {
    position: relative;
    top: -227px;
    font-size: 60px;
    font-weight: bold;
    display:none;
    height: 0px;
  }
  li { padding-top: 205px; width: 160px; height: 80px; float : left; }
  li + li { margin-left: 25px; }
  li#haddad { background: url(/assets/haddad.jpg) no-repeat;}
  li#serra { background: url(/assets/serra.jpg) no-repeat;}
  li#russomano { background: url(/assets/russomano.jpg)  no-repeat;}
  li#chalita { background: url(/assets/chalita.jpg) no-repeat; }
  li#soninha { background: url(/assets/soninha.jpg) no-repeat; }
}

hr { clear:both; }

div.hero-unit ul#leaders { 
  display:none; 
  height: 200px;
  margin: 20px auto;
}

div#content div.hero-unit ul.size-1 { width: 180px; }
div#content  div.hero-unit ul.size-2 { 
    width: 500px; 
    li + li { margin-left: 180px } 
  }
div#content div.hero-unit ul.size-3 { 
    width: 725px; 
    li + li { margin-left: 120px } 
  }
div#content div.hero-unit ul.size-4 { width: 725px; }
div#content div.hero-unit ul.size-5 { 
    width: 710px;
    height: 480px;
    li + li { margin-left: 110px }
  }

div.haddad { background: url(/assets/haddad.jpg) no-repeat;}
div.serra { background: url(/assets/serra.jpg) no-repeat;}
div.russomano { background: url(/assets/russomano.jpg)  no-repeat;}
div.chalita { background: url(/assets/chalita.jpg) no-repeat; }
div.soninha { background: url(/assets/soninha.jpg) no-repeat; }

ul#share {
  list-style: none;
  li { float: left; }
  margin: 40px auto;
  width: 520px;
  height: 160px;

  li + li {
    margin-left: 200px;
  }
  a.facebook {
    display: block;
    background: url(/assets/fb.png) no-repeat;
    width: 154px;
    height: 154px;
  }

  a.twitter {
    display: block;
    background: url(/assets/twitter.png) no-repeat;
    width: 154px;
    height: 154px;
  }
}

